.transformer-form {
  .transformer-display {
    display: block;
    background: #333333;
    border-radius: 4px;
    padding: 15px 0;
    width: 25%;
    margin: auto auto 35px auto;
    &__base {
      position: relative;
      text-align: center;
    }
    &__img {
      max-height: 100%;
      max-width: 100%;
    }
  }
  label {
    margin: 0 0 35px;
    display: block;
    h4 {
      margin: 0 0 15px;
    }
  }
  &__error {
    padding: 10px;
    border-radius: 0 0 4px 4px;
    display: flex;
    align-items: center;
    background: #aa141b;
    color: #fff;
    p {
      font: {
        size: 14px;
      }
      margin: 0;
    }
  }
  &__input {
    font-family: 'trans';
    border: 0;
    margin: 0;
    padding: 15px;
    outline: 0;
    width: 100%;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 600;
    background: #f5f5f5;
    border: 1px solid transparent;
    &.error {
      border-radius: 4px 4px 0 0;
      border-color: #b54846;
    }
  }
  &__select {
    font-family: 'trans';
    border: 0;
    margin: 0 0 10px 0;
    padding: 15px;
    outline: 0;
    width: 100%;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 600;
    background: #f5f5f5;
    border: 1px solid transparent;
    &.error {
      border-radius: 4px 4px 0 0;
      border-color: #b54846;
    }
  }
  &__actions {
    margin: 35px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      &:last-child {
        margin-left: auto;
      }
    }
  }
  &__list {
    margin: -20px 0 0;
  }
}
